* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
--font-content: 'Handlee', cursive;
}

body {
    background-image: linear-gradient(to right, gray, red);
    font-family: var(--font-content);
}

header {
    text-align: center;
    font-size: 45px;
    padding: 15px;
}

header h1 {
    background-image: linear-gradient(to bottom, rgba(252, 251, 246, 0.418), transparent);
    color: rgb(170, 164, 164);
}



fieldset#content {
    background-color: rgb(136, 168, 158);
    min-width: 350px;
    max-width: 750px;
    height: 450px;
    margin: auto;
    padding: 30px;
    
}

#musculoso {
    display: flex;
    justify-content: space-around;  
    align-items: center;  
}

#bonitao {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

#botao_enviar {
    background-image: linear-gradient(to bottom, gray, red);
    width: 150px;
    height: 50px;
    margin-top: 25px;   
    cursor: pointer; 
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.637);
    margin: none;
    font-family: var(--font-content);
    font-size: 25px;
}

#final > input:hover {
    background-image: linear-gradient(to bottom, grey, transparent);
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}